Repository leandroslc/ecoleta: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint, yarn run test, yarn run lint:css

refactor(api): Moved entities to models folder
  packages/api/ormconfig.js
  packages/api/src/controllers/waste-items-controller.ts
  packages/api/src/database/index.ts
  packages/api/src/models/collection-point-item.ts
  packages/api/src/models/collection-point.ts
  packages/api/src/models/index.ts
  packages/api/src/models/waste-item.ts
Due: yarn run lint, yarn run test

fix: Removed test command from linstaged
  .lintstagedrc
Due: none

feat(api): Collection points creation
  .eslintrc
  .gitignore
  package.json
  packages/api/ormconfig.js
  packages/api/package.json
  packages/api/src/config/constants.ts
  packages/api/src/config/multer.ts
  packages/api/src/controllers/collection-points-controller.ts
  packages/api/src/controllers/index.ts
  packages/api/src/controllers/waste-items-controller.ts
  packages/api/src/database/index.ts
  packages/api/src/models/collection-point-item.ts
  packages/api/src/models/collection-point.ts
  packages/api/src/models/waste-item.ts
  packages/api/src/repositories/collection-point-repository.ts
  packages/api/src/repositories/index.ts
  packages/api/src/routes.ts
  packages/api/src/server.ts
  packages/api/src/util/random.ts
  packages/api/src/util/string.ts
  packages/api/src/util/url.ts
  packages/api/test/integration/assets/test-img.png
  packages/api/test/integration/collection-point.spec.ts
  packages/api/test/integration/initialize.ts
  packages/api/test/integration/test-utils.ts
  packages/api/test/integration/waste-item.spec.ts
  packages/core/src/commands/create-collection-point-command.ts
  packages/core/src/index.ts
  packages/core/src/models/collection-point.ts
  packages/core/src/models/waste-item.ts
  packages/core/src/results/waste-item-index-result.ts
  yarn.lock
Due: yarn run lint, yarn run test

improvement(api): Changed waste items index result from interface to class
  packages/api/src/controllers/waste-items-controller.ts
  packages/core/src/results/waste-item-index-result.ts
Due: yarn run lint, yarn run test

feat(api): Collection point details
  packages/api/src/controllers/collection-points-controller.ts
  packages/api/src/models/collection-point-item.ts
  packages/api/src/repositories/collection-point-repository.ts
  packages/api/src/routes.ts
  packages/api/test/integration/collection-point.spec.ts
  packages/core/src/index.ts
  packages/core/src/results/collection-point-show-result.ts
  packages/core/src/types/dictionary.ts
  packages/core/src/types/optional.ts
Due: yarn run lint, yarn run test

feat(api): Collection points search
  packages/api/src/controllers/collection-points-controller.ts
  packages/api/src/repositories/collection-point-repository.ts
  packages/api/src/routes.ts
  packages/api/test/integration/collection-point.spec.ts
Due: yarn run lint, yarn run test

refactor(api): Better organization of routes
  packages/api/src/routes.ts
  packages/api/src/routes/index.ts
  packages/api/src/routes/items.ts
  packages/api/src/routes/points.ts
Due: yarn run lint, yarn run test

feat(api): Added routes validation
  packages/api/package.json
  packages/api/src/app.ts
  packages/api/src/routes/points.ts
  yarn.lock
Due: yarn run lint, yarn run test

feat(api): Added collection point image url
  packages/api/src/controllers/collection-points-controller.ts
  packages/api/test/integration/collection-point.spec.ts
  packages/core/src/index.ts
  packages/core/src/results/collection-point-index-result.ts
  packages/core/src/results/collection-point-show-result.ts
Due: yarn run lint, yarn run test

test(api): Added test coverage
  .gitignore
  packages/api/.gitignore
  packages/api/jest.config.js
  packages/api/package.json
Due: yarn run lint, yarn run test

test(api): Ignore '/dist' resolution in tests
  packages/api/jest.config.js
Due: yarn run lint, yarn run test

build: Included GitHub Action CI configuration
  .github/workflows/ci.yml
Due: none

build: Fixed workflow coverage file path
  .github/workflows/ci.yml
Due: none

build: Fixed indentation
  .github/workflows/ci.yml
Due: none

build: Fixed organize dependencies command
  .github/workflows/ci.yml
Due: none

docs(readme): New badges!
  README.md
  docs/en/README.md
Due: none

chore(api): Removed unused eslint disable from 'routes/index'
  packages/api/src/routes/index.ts
Due: yarn run lint, yarn run test

docs: Inluded more information about the project and a quick start guide
  README.md
  docs/en/README.md
Due: none

chore: Added 'start:api' and 'migrate' commands
  package.json
Due: none

docs: Organized quick start commands and projects to be done
  README.md
  docs/en/README.md
Due: none

docs: Using English as default language
  README.md
  docs/en/README.md
  docs/pt-br/README.md
Due: none

feat: Added project 'web' with initial config
  .eslintrc
  .gitignore
  package.json
  packages/web/.env
  packages/web/.eslintrc
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/public/index.html
  packages/web/public/robots.txt
  packages/web/src/App.tsx
  packages/web/src/assets/home.svg
  packages/web/src/assets/logo.svg
  packages/web/src/components/Header/index.tsx
  packages/web/src/components/Header/styles.ts
  packages/web/src/components/Layout/index.tsx
  packages/web/src/components/Page.tsx
  packages/web/src/components/PageContent.tsx
  packages/web/src/components/ThemeToggle/index.tsx
  packages/web/src/components/ThemeToggle/modes.ts
  packages/web/src/components/ThemeToggle/styles.ts
  packages/web/src/components/index.ts
  packages/web/src/index.tsx
  packages/web/src/pages/Home/Background.tsx
  packages/web/src/pages/Home/index.tsx
  packages/web/src/pages/Home/styles.scss
  packages/web/src/react-app-env.d.ts
  packages/web/src/theme/colors.ts
  packages/web/src/theme/global.ts
  packages/web/src/theme/index.tsx
  packages/web/tsconfig.json
  yarn.lock
Due: yarn run lint, yarn run test, yarn run lint:css

improvement: SVGs file compression
  docs/logo.svg
  packages/web/src/assets/home.svg
  packages/web/src/assets/logo.svg
Due: none

feat(web): Completed home page
  packages/web/public/index.html
  packages/web/src/assets/home.svg
  packages/web/src/components/Button/index.tsx
  packages/web/src/components/Button/styles.ts
  packages/web/src/components/ButtonBase/index.tsx
  packages/web/src/components/ButtonBase/styles.ts
  packages/web/src/components/Header/index.tsx
  packages/web/src/components/Header/styles.ts
  packages/web/src/components/Image/index.tsx
  packages/web/src/components/Image/styles.ts
  packages/web/src/components/Layout/index.tsx
  packages/web/src/components/Layout/styles.ts
  packages/web/src/components/Link/index.tsx
  packages/web/src/components/Link/styles.ts
  packages/web/src/components/Page.tsx
  packages/web/src/components/PageContent.tsx
  packages/web/src/components/PageContent/index.tsx
  packages/web/src/components/PageContent/styles.ts
  packages/web/src/components/index.ts
  packages/web/src/pages/Home/Background.tsx
  packages/web/src/pages/Home/index.tsx
  packages/web/src/pages/Home/styles.scss
  packages/web/src/pages/Home/styles.ts
  packages/web/src/theme/ThemeProvider.tsx
  packages/web/src/theme/breakpoints.ts
  packages/web/src/theme/colors.ts
  packages/web/src/theme/global.ts
  packages/web/src/theme/index.tsx
Due: yarn run lint, yarn run test, yarn run lint:css

feat(web): Added a 404 page
  packages/web/src/pages/NotFound/index.tsx
  packages/web/src/pages/NotFound/styles.ts
Due: yarn run lint, yarn run test

feat(web): Added page routes
  packages/web/package.json
  packages/web/src/App.tsx
  packages/web/src/pages/CreatePoint/index.tsx
  packages/web/src/routes.tsx
  yarn.lock
Due: yarn run lint, yarn run test

fix: Run stylelint on js/ts files
  .lintstagedrc
  package.json
Due: none

chore(web): Removed unecessary .scss file
  packages/web/src/pages/Home/styles.scss
Due: yarn run lint:css

fix(web): Changed props of Button and ButtonBase to type any to allow any component
  packages/web/src/components/Button/index.tsx
  packages/web/src/components/ButtonBase/index.tsx
Due: yarn run lint, yarn run test

refactor(web): Organized components
  packages/web/src/components/Button/ButtonBase/index.tsx
  packages/web/src/components/Button/ButtonBase/styles.ts
  packages/web/src/components/Button/index.tsx
  packages/web/src/components/Button/styles.ts
  packages/web/src/components/Header/index.tsx
  packages/web/src/components/Header/styles.ts
  packages/web/src/components/Image/index.tsx
  packages/web/src/components/Image/styles.ts
  packages/web/src/components/Layout/index.tsx
  packages/web/src/components/Layout/styles.ts
  packages/web/src/components/PageContent/index.tsx
  packages/web/src/components/PageContent/styles.ts
  packages/web/src/components/ThemeToggle/index.tsx
  packages/web/src/components/ThemeToggle/styles.ts
Due: yarn run lint, yarn run test

refactor(web): Better props for Button component
  packages/web/src/components/Button/ButtonBase/index.tsx
  packages/web/src/components/Button/index.tsx
  packages/web/src/pages/Home/index.tsx
  packages/web/src/pages/Home/styles.ts
  packages/web/src/utils/types.ts
Due: yarn run lint, yarn run test

feat(web): New components
  packages/web/.eslintrc
  packages/web/src/components/Button/ButtonBase/index.tsx
  packages/web/src/components/Button/index.tsx
  packages/web/src/components/Button/styles.ts
  packages/web/src/components/Form/Field/index.tsx
  packages/web/src/components/Form/Field/styles.ts
  packages/web/src/components/Form/FieldGroup/index.tsx
  packages/web/src/components/Form/FieldGroup/styles.ts
  packages/web/src/components/Form/FieldSet/index.tsx
  packages/web/src/components/Form/FieldSet/styles.ts
  packages/web/src/components/Form/Form/index.tsx
  packages/web/src/components/Form/Form/styles.ts
  packages/web/src/components/Form/index.ts
  packages/web/src/components/Link/index.tsx
  packages/web/src/components/Links/Link/index.tsx
  packages/web/src/components/Links/Link/styles.ts
  packages/web/src/components/Links/LinkButton/index.tsx
  packages/web/src/components/Links/LinkButton/styles.ts
  packages/web/src/components/Links/index.ts
  packages/web/src/components/PageContent/styles.ts
  packages/web/src/components/index.ts
  packages/web/src/theme/colors.ts
  packages/web/src/theme/global.ts
  packages/web/src/utils/types.ts
Due: yarn run lint, yarn run test

fix(web): Fixed NotFound page link and styles
  packages/web/src/pages/NotFound/index.tsx
  packages/web/src/pages/NotFound/styles.ts
Due: yarn run lint, yarn run test

feat(web): Added page for creating collection points
  packages/core/src/results/waste-item-index-result.ts
  packages/web/package.json
  packages/web/public/index.html
  packages/web/src/components/Dropzone/index.tsx
  packages/web/src/components/Dropzone/styles.ts
  packages/web/src/components/Item/index.tsx
  packages/web/src/components/Item/styles.ts
  packages/web/src/components/index.ts
  packages/web/src/pages/CreatePoint/AddressLocation.tsx
  packages/web/src/pages/CreatePoint/AddressMap.tsx
  packages/web/src/pages/CreatePoint/Contact.tsx
  packages/web/src/pages/CreatePoint/Items.tsx
  packages/web/src/pages/CreatePoint/index.tsx
  packages/web/src/pages/CreatePoint/styles.ts
  packages/web/src/services/api.ts
  packages/web/src/services/ibge.ts
  packages/web/src/theme/colors.ts
  packages/web/src/theme/global.ts
  packages/web/src/utils/array.ts
  yarn.lock
Due: yarn run lint, yarn run test

feat(web): Success message for created point
  packages/web/src/components/Success/index.tsx
  packages/web/src/components/Success/styles.ts
  packages/web/src/components/index.ts
  packages/web/src/pages/CreatePoint/index.tsx
  packages/web/src/theme/colors.ts
Due: yarn run lint, yarn run test

feat(web): Create point form validation
  packages/web/package.json
  packages/web/src/components/Form/ErrorSummary/index.tsx
  packages/web/src/components/Form/ErrorSummary/styles.ts
  packages/web/src/components/Form/index.ts
  packages/web/src/pages/CreatePoint/index.tsx
  packages/web/src/pages/CreatePoint/validation.ts
  packages/web/src/theme/colors.ts
  yarn.lock
Due: yarn run lint, yarn run test

fix: Eslint and stylelint fixes
  .eslintignore
  .stylelintrc
  packages/api/.eslintrc
  packages/api/src/config/multer.ts
  packages/api/src/controllers/collection-points-controller.ts
  packages/core/src/results/collection-point-show-result.ts
  packages/core/src/results/waste-item-index-result.ts
Due: yarn run lint, yarn run test

docs: Updated READMEs with web features
  README.md
  docs/homepage.png
  docs/pt-br/README.md
Due: none

docs: Update README to include the new mobile app info
  README.md
  docs/pt-br/README.md
Due: none

Path conditions:
  yarn run lint: any of: *.{js,ts,tsx}
  yarn run test: any of: *.{js,ts,tsx}
  yarn run lint:css: any of: *.scss
